@import '../../styles/mixins';

.home {
    background-color: $blue;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    padding: 100px;

    &__title {
        color: $white;
    }
}