@import "../../styles/mixins";

a.btn.btn-primary.buttonRetakeQuiz {
    background-color: $yellow;
    border: 1px solid $yellow;
    color: $white;
    font-family: "Muli-Black";
    letter-spacing: 3px;
    margin: 40px 0;
    box-shadow: 0 12px 32px 4px rgba($black, .1);

    &:hover {
        background-color: $white;
        border: 1px solid $white;
        color: $yellow;
    }

    &:active {
        background-color: $white;
        border: none;
        color: $yellow;
        outline: none;
    }

    &:focus {
        border: 1px solid $white;
    }
}