@import '../../styles/mixins';

.quiz {
    &__card {
        z-index: 1;
        max-width: 250px;
        margin-bottom: 20px;
        text-align: center;

        margin: 1rem;
        padding: .5rem 1rem;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0 12px 32px 4px rgba($black, .2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .2s;
        
        &:hover {
            transform: translateY(-5px);
            cursor: pointer;
        }

        &.active {
            background-color: $yellow;
        }

        &-content {
            display: flex;
            align-items: center;
        }
    }
}