@import '../../styles/mixins';

.header {

    &__logo {
        width: 70px;
        padding-right: 10px;
        margin-left: 100px;
    }

    &__navbar {
        background-color: $yellow;
        font-family: 'Muli-Black';
        letter-spacing: 5px;
        position: relative;
        z-index: 1;
        
        &-brand {
            color: $white;
            padding-bottom: 5px;
        }

        &-about {
            color: $white;
            margin-right: 100px;
            padding-bottom: 5px;
            line-height: 20px;
        }
    }
}

.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.link-wrapper {
    position: relative;
    display: block;
}

.hover { 
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        background-color: $darker-blue;

        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);    
        }
    }
}