@import '../../styles/mixins';

.header {

    &__logo {
        width: 70px;
        padding-right: 10px;
    }

    &__navbar {
        background-color: $yellow;
        font-family: 'Muli-Black';
        letter-spacing: 5px;
        position: relative;
        z-index: 1;
        
        &-brand {
            color: $white;
            padding-left: 100px;
        }

        &-about {
            color: $white;
            padding-right: 100px;
        }
    }
}