// Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// colors
$pink: #f76a8c;
$yellow: #f8d888;
$lime: #f8fab8;
$blue: #88E0F8;
$darker-blue: #88A8F8;
$white: #ffffff;
$lightgray: #D3D3D3;
$black: #0000;